.pulse
  circle(16px);
  background: $blue_l;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  transform: scale(1);
  animation: pulse 1s infinite;

@keyframes pulse
  0%
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba($blue_l, 0.7);

  70%
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($blue_l, 0);

  100%
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba($blue_l, 0);

.MAP_img
  position: relative;
  top: -100px;
  z-index: -1;

.MAP
  // background: url('~static/img/map.png') no-repeat;
  position: relative;

.pulse
  position: absolute;

  &:nth-of-type(1)
    animation-delay: 0.2s;
    left: 50%;
    top: 50%;

  &:nth-of-type(2)
    animation-delay: 0.5s;
    left: 40%;
    top: 52%;

  &:nth-of-type(3)
    animation-delay: 0.4s;
    left: 26%;
    top: 56%;

  &:nth-of-type(4)
    animation-delay: 0.1s;
    left: 22%;
    top: 50%;

  &:nth-of-type(5)
    left: 29%;
    top: 51%;

  &:nth-of-type(6)
    animation-delay: 0.3s;
    left: 31%;
    top: 56%;

  &:nth-of-type(7)
    // animation-delay: 0.15s;
    left: 55%;
    top: 55%;

  &:nth-of-type(8)
    animation-delay: 0.25s;
    left: 43%;
    top: 61%;

  &:nth-of-type(9)
    // animation-delay: 0.35s;
    circle(24px);
    left: 17%;
    top: 42%;

  &:nth-of-type(10)
    animation-delay: 0.55s;
    circle(24px);
    left: 51%;
    top: 58%;

  &:nth-of-type(11)
    left: 42%;
    top: 54%;

  &:nth-of-type(12)
    left: 34%;
    top: 53%;
