.registration-link
  margin-left: 46px
  background #FFF
  color $blue_l
  border-radius 5px
  cursor pointer
  font-weight bold
  padding 1rem 2rem
  text-decoration none
.smart-cities-link
  display table
  z-index 100
  cursor: pointer;
  color: #ffffff
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 8px 19px;
  background-color: #005CA9
  border-radius: 5px;
