/* Заречный */
.section-color-theme_zarechnii
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    156.35deg,
    #107B9E 0%,
    #1A9FB5 46.21%,
    #3EC180 100%
  );

.color-theme_zarechnii
  background: linear-gradient(156.35deg, #107B9E 0%, #1A9FB5 46.21%, #3EC180 100%) !important;

.footer-color-theme_zarechnii
  background-color: #107C9F;

.left-circle-image-color-theme_zarechnii
  background-color: #F7F7F7;

.right-circle-image-color-theme_zarechnii
  background-color: #0BBBEF;

.bottom-circle-image-color-theme_zarechnii
  background-color: #FFD35F;

.los-contur
  -webkit-filter: drop-shadow(3px 5px 5px #000);
  filter: drop-shadow(10px 15px 0px #51BBB7);

/* Саров */
.color-theme_sarov
  background: linear-gradient(153.62deg, #4F21B4 0.82%, #6567DF 52.47%, #9489E0 100%) !important;

.section-color-theme_sarov
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    153.62deg,
    #4F21B4 0.82%,
    #6567DF 52.47%,
    #9489E0 100%
  ) !important;

.footer-color-theme_sarov
  background: #4E4084;

.left-circle-image-color-theme_sarov
  background-color: #F7F7F7;

.right-circle-image-color-theme_sarov
  background-color: #6B31ED;

.bottom-circle-image-color-theme_sarov
  background-color: #6759D1;

/* Лесной */
.color-theme_lesnoi
  background: linear-gradient(158.16deg, #558E4C 3.22%, #EBF0CE 116.48%) !important;

.section-color-theme_lesnoi
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    158.16deg,
    #558E4C 3.22%,
    #EBF0CE 116.48%
  ) !important;

.footer-color-theme_lesnoi
  background: #558E4C;

.left-circle-image-color-theme_lesnoi
  background-color: #EBF0CE;

.right-circle-image-color-theme_lesnoi
  background-color: #4392A7;

.bottom-circle-image-color-theme_lesnoi
  background-color: #D05C38;

.slide2-contur_lesnoi
  -webkit-filter: drop-shadow(3px 5px 5px #EBF0CE);
  filter: drop-shadow(10px 15px 0px #EBF0CE);

.slide2-position-options_lesnoi
  align-items: center !important;

/* Глазов */
.color-theme_glazov
  background: linear-gradient(336.17deg, #9EDCF5 0%, #80BFFF 100%) !important;

.section-color-theme_glazov
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    336.17deg,
    #9EDCF5 0%,
    #80BFFF 100%
  ) !important;

.footer-color-theme_glazov
  background: #3F96D8;

.left-circle-image-color-theme_glazov
  background-color: #F7F7F7;

.right-circle-image-color-theme_glazov
  background-color: #3F96D8;

.bottom-circle-image-color-theme_glazov
  background-color: #FFEA7D;

.slide2-position-options_glazov
  align-items: center !important;

/* Зеленогорск */
.color-theme_zelenogorsk
  background: linear-gradient(156.35deg, #21547B 0%, #3DC7CF 0.01%, #B2C963 100%) !important;

.section-color-theme_zelenogorsk
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    156.35deg,
    #21547B 0%,
    #3DC7CF 0.01%,
    #B2C963 100%
  ) !important;

.footer-color-theme_zelenogorsk
  background: #21547B;

.left-circle-image-color-theme_zelenogorsk
  background-color: #F7F7F7;

.right-circle-image-color-theme_zelenogorsk
  background-color: #21547B;

.bottom-circle-image-color-theme_zelenogorsk
  background-color: #3D90CF;

.slide2-interesting-place
  border: 3px solid #C9F05E;

/* Новоуральск */
.color-theme_novouralsk
  background: linear-gradient(158.16deg, #3023AE 3.22%, #53A0FD 116.48%) !important;

.section-color-theme_novouralsk
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    158.16deg,
    #3023AE 3.22%,
    #53A0FD 116.48%
  ) !important;

.footer-color-theme_novouralsk
  background: #3023AE;

.left-circle-image-color-theme_novouralsk
  background-color: #F7F7F7;

.right-circle-image-color-theme_novouralsk
  background-color: #3023AE;

.bottom-circle-image-color-theme_novouralsk
  background-color: #01B4B0;

.slide2-position-options_novouralsk
  align-items: center !important;

.slide2-interesting-place
  border: 3px solid #FFEA7D;

/* Озерск */
.color-theme_ozersk
  background: linear-gradient(157.99deg, #0B4FFE 3.22%, #53A0FD 116.48%) !important;

.section-color-theme_ozersk
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    157.99deg,
    #0B4FFE 3.22%,
    #53A0FD 116.48%
  ) !important;

.footer-color-theme_ozersk
  background: #0B4FFE;

.left-circle-image-color-theme_ozersk
  background-color: #F7F7F7;

.right-circle-image-color-theme_ozersk
  background-color: #0B4FFE;

.bottom-circle-image-color-theme_ozersk
  background-color: #FFEA7D;

/* Северск */
.color-theme_seversk
  background: linear-gradient(156.35deg, #107B9E 0%, #1A9FB5 46.21%, #3EC180 100%) !important;

.section-color-theme_seversk
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    156.35deg,
    #107B9E 0%,
    #1A9FB5 46.21%,
    #3EC180 100%
  ) !important;

.footer-color-theme_seversk
  background: #005CA9;

.left-circle-image-color-theme_seversk
  background-color: #00579C;

.right-circle-image-color-theme_seversk
  background-color: #5B18F7;

.bottom-circle-image-color-theme_seversk
  background-color: #0BD7BB;

.slide2-interesting-place
  border: 3px solid #5B18F7;

/* Заречный свердловская обл. */
.color-theme_zarechniiSverdl
  background: linear-gradient(156.35deg, #107B9E 0%, #1A9FB5 46.21%, #3EC180 100%) !important;

.section-color-theme_zarechniiSverdl
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    156.35deg,
    #107B9E 0%,
    #1A9FB5 46.21%,
    #3EC180 100%
  ) !important;

.footer-color-theme_zarechniiSverdl
  background: #005CA9;

.left-circle-image-color-theme_zarechniiSverdl
  background-color: #FEFEFE;

.right-circle-image-color-theme_zarechniiSverdl
  background-color: #005CA9;

.bottom-circle-image-color-theme_zarechniiSverdl
  background-color: #FFEA7D;

/* Снежинск */
.color-theme_snezhinsk
  background: linear-gradient(156.35deg, #005CA9 0%, #3D90CF 100%) !important;

.section-color-theme_snezhinsk
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    156.35deg,
    #005CA9 0%,
    #3D90CF 100%
  ) !important;

.footer-color-theme_snezhinsk
  background: #005CA9;

.left-circle-image-color-theme_snezhinsk
  background-color: #FFFFFF;

.right-circle-image-color-theme_snezhinsk
  background-color: #005CA9;

.bottom-circle-image-color-theme_snezhinsk
  background-color: #FEFEFE;

.slide2-interesting-place
  border: 3px solid #0B4FFE;

/* Железногорск */
.color-theme_zheleznogorsk
  background: linear-gradient(156.35deg, #005CA9 0%, #3D90CF 100%) !important;

.section-color-theme_zheleznogorsk
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    156.35deg,
    #005CA9 0%,
    #3D90CF 100%
  ) !important;

.footer-color-theme_zheleznogorsk
  background: #005CA9;

.left-circle-image-color-theme_zheleznogorsk
  background-color: #FFFFFF;

.right-circle-image-color-theme_zheleznogorsk
  background-color: #005CA9;

.bottom-circle-image-color-theme_zheleznogorsk
  background-color: #FFFFFF;

.slide2-interesting-place
  border: 3px solid #EEB245;

/* Трехгорный */
.color-theme_trehgornii
  background: linear-gradient(156.35deg, #5CA647 0%, #5CA647 0.01%, #61A849 30.33%, #A0DA59 100%) !important;

.section-color-theme_trehgornii
  background: url('~static/Intro/react.png') 0 center no-repeat, linear-gradient(
    156.35deg,
    #5CA647 0%,
    #5CA647 0.01%,
    #61A849 30.33%,
    #A0DA59 100%
  ) !important;

.footer-color-theme_trehgornii
  background: #767A7A;

.left-circle-image-color-theme_trehgornii
  background-color: #EFF4F8;

.right-circle-image-color-theme_trehgornii
  background-color: #006AB4;

.bottom-circle-image-color-theme_trehgornii
  background-color: #EFF4F8;

.slide2-interesting-place
  border: 3px solid #C9F05E;

@media screen and (max-width 1200px)
  /*Я в курсе что можно через запятую, только компилиться не хотел проект почему то*/
  .slide2-position-options_zelenogorsk
    align-items center!important
  .slide2-position-options_ozersk
    align-items center!important
  .slide2-position-options_seversk
    align-items center!important
  .slide2-position-options_snezhinsk
    align-items center!important
  .slide2-position-options_trehgornii
    align-items center!important
  .slide2-position-options_zarechniiSverdl
    align-items center!important
  .slide2-position-options_zheleznogorsk
    align-items center!important
@media screen and (max-width 680px)
  .section-color-theme_zarechnii
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      156.35deg,
      #107B9E 0%,
      #1A9FB5 46.21%,
      #3EC180 100%
    );

  .section-color-theme_sarov
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      153.62deg,
      #4F21B4 0.82%,
      #6567DF 52.47%,
      #9489E0 100%
    ) !important;

  .section-color-theme_lesnoi
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      158.16deg,
      #558E4C 3.22%,
      #EBF0CE 116.48%
    ) !important;

  .section-color-theme_glazov
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      336.17deg,
      #9EDCF5 0%,
      #80BFFF 100%
    ) !important;

  .section-color-theme_zelenogorsk
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      156.35deg,
      #21547B 0%,
      #3DC7CF 0.01%,
      #B2C963 100%
    ) !important;

  .section-color-theme_novouralsk
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      158.16deg,
      #3023AE 3.22%,
      #53A0FD 116.48%
    ) !important;

  .section-color-theme_ozersk
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      157.99deg,
      #0B4FFE 3.22%,
      #53A0FD 116.48%
    ) !important;

  .section-color-theme_seversk
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      156.35deg,
      #107B9E 0%,
      #1A9FB5 46.21%,
      #3EC180 100%
    ) !important;

  .section-color-theme_zarechniiSverdl
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      156.35deg,
      #107B9E 0%,
      #1A9FB5 46.21%,
      #3EC180 100%
    ) !important;

  .section-color-theme_snezhinsk
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      156.35deg,
      #005CA9 0%,
      #3D90CF 100%
    ) !important;

  .section-color-theme_zheleznogorsk
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      156.35deg,
      #005CA9 0%,
      #3D90CF 100%
    ) !important;

  .section-color-theme_trehgornii
    background: url('~static/Intro/react_right-side.png') right center no-repeat, linear-gradient(
      156.35deg,
      #5CA647 0%,
      #5CA647 0.01%,
      #61A849 30.33%,
      #A0DA59 100%
    ) !important;
